@import url('https://fonts.googleapis.com/css?family=Rokkitt');
* {
    font-family: "Rokkit", serif;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%
}
.container {
    width:1000px;
    margin: 0 auto;
    box-sizing: border-box;  
    background-image: url(../img/bg.png);
    background-repeat: no-repeat no-repeat;
    /*border: 1px solid black;*/
    min-height: 100%;
}
.img-container > h1 {
    color: #e8ddcb;
    font-size: 64pt;
    padding: 0 50px;
}
.wrapper{
    margin: 0 50px;
}
.wrapper>h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: #e8ddcb;
    padding-top: 50px;
}

.img-container {
    height: 300px;
}
.left-box {
    box-sizing: border-box;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: justify;

    width: 200px;
    float: left;
}
.right-box {
    box-sizing: border-box;
    border: 1px solid black;
    border-collapse: collapse;
    width: 700px;
    float: right;
    padding: 10px;
}

ul.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.menu>li {
    width: 100%;
    display: inline-block;
}
ul.menu>li>a {
    font-weight: 700;
    font-size: 24px;
    color: #e8ddcb;
    text-decoration: none;
    cursor: pointer;
}
ul.menu>li>a:hover {
    color: #e8ddcb;
    text-decoration: underline;
    cursor: pointer;
}
.footer {
    clear:both;
    padding: 20px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
}
.clear {
    clear:both;
}
.youtube-video {
    min-width:640px;
    min-height:480px;
    margin:0 auto;
}


/* MOBILE SITE */


/*
@media(max-width:1200px){
    .container {
    width:400px;
    margin: 0 auto;
    padding:25px;
    box-sizing: border-box;       
}
.menu {
    clear: both;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid black;
    font-size: 2.5vh;
    letter-spacing: 0.75em
}
.img-container {
    display: none;
    height: 300px;
    background-image: url(http://fillmurray.com/1150/300);
}
.img-main-news {
    float: left;
    margin-right: 10px;
    width:50%;
}
.content-container {
    background-color: aliceblue;
    font-size: 2vh;
    
}
.right-box {
    display:none;
    box-sizing: border-box;
    border: 1px solid black;
    border-collapse: collapse;
    width: 20%;
    float: left;
    padding-top: 10px;
}
.right-box-top{
    min-height: 200px;
    margin: 20px 10px;
    text-align: justify; 
}
.right-box-bottom{
    min-height: 200px;
    margin: 20px 10px;
    text-align: justify;
}
.left-box {
    box-sizing: border-box;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: justify;
    text-indent: 20px;
    width: auto;
    float: right;
}
.footer {
    clear:both;
    padding: 20px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
}
}
*/